# editor and IDE paraphernalia
.idea
.vscode
*.swp
*.swo
*~

# tools dependencies
.task
node_modules/
target/
.direnv
/.pre-commit-config.yaml

# NodeJS files
**/*.tsbuildinfo

# sensitive or high-risk files
.env
configs/k3d/kubeconfig

.nx/cache
.nx/workspace-data

storybook-static
vite.config.*.timestamp*
vitest.config.*.timestamp*
