# editor and IDE paraphernalia
.idea
.vscode
*.swp
*.swo
*~

# tools dependencies
.task
node_modules/
target/
.direnv
/.pre-commit-config.yaml

# NodeJS files
**/*.tsbuildinfo

# sensitive or high-risk files
.env
